img{
    width: 100%;


}

.kartya{
    width: 300px;
    border: 1px  solid black;
}


.tarolo .kevenc{
    display: flex;
    flex-wrap: wrap;
}

.kedvenc{
    border: 1px solid red;
    padding:20px;
}